<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="AWS_SQS">
    <key name="ServiceURL">https://sqs.eu-central-1.amazonaws.com/</key>
    <key name="SQSName">FilesProcessingQueue</key>
    <key name="SQSAddress">https://sqs.eu-central-1.amazonaws.com/650110513798/FilesProcessingQueue</key>
  </section>
</configuration>