[Unit]
Description=.NET Web APP UI Files Processing

[Service]
WorkingDirectory=/home/ubuntu/repository/AWS_App1/S3_FilesProcessingUIWebApp
ExecStart=/usr/bin/dotnet run --project /home/ubuntu/repository/AWS_App1/S3_FilesProcessingUIWebApp/S3_FilesProcessingUIWebApp.csproj
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
Environment=ASPNETCORE_ENVIRONMENT=Production
SyslogIdentifier=dotnet-files-processing
User=ubuntu

[Install]
WantedBy=multi-user.target